@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: theme("colors.neutral.600") transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: theme("colors.neutral.600");
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: theme("colors.neutral.500");
}

*::-webkit-scrollbar-corner {
  background: transparent;
}
