@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: theme("colors.emerald.500") transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: theme("colors.emerald.500");
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: theme("colors.emerald.400");
}

*::-webkit-scrollbar-corner {
  background: transparent;
}
